<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recorder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename = 'favicon.ico')}}">
    <link href="{{url_for('static',filename = 'css/sticky-footer.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.2.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>
       #circle {
            
            width:  15px;
            height: 15px;
            border-radius: 50%;
        }
        .recstate {
            position: relative;
            text-align: center;
            color: white;
          }
        .top-right {
            position: absolute;
            top: 8px;
            right: 16px;
          }

    </style>
    <script type="text/javascript">
      $(document).ready(function() {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        socket.on('connect', function() {
          socket.send('User has connected!');
        });
        socket.on('message', function(msg) {
          $("#messages").append('<li>'+msg+'</li>');
              console.log('Received message');
              console.log(msg);
          });
          
          socket.on('/recstate', function(state) {
                  console.log(state);
                  if(state == "True")
                  {
                    document.getElementById('circle').style.background="#f00";
                  }
                  else
                  {
                    document.getElementById('circle').style.background="";
                  }
          });
      
        $('#sendbutton').on('click', function() {
          socket.send($('#myMessage').val());
              $('#myMessage').val('');
          });
          
        setInterval(function(){ socket.emit('/control',"recState"); }, 5000);
      });
      </script>
</head>
  <body>
    <div class="container" style="width: 100%; height: 100%;" >
      <div class="row justify-content-center">
        <div class="jumbotron">
              <h1 class="display-4">Camera Preview</h1>
              <hr class="my-4">
              <div class="recstate">
                <img src="{{ url_for('video_feed') }}" style="max-width: 100%;
                height: auto;">
                <div class="top-right">
                    <div id="circle"></div>
                </div>
              </div>
              <hr class="my-4">       
                  <a href="/startrec" class="btn btn-success btn-block" role="button">start</a> 
                  <a href="/stoprec" class="btn btn-success btn-block" role="button">stop</a> 
                  <a href="/archive" class="btn btn-success btn-block" role="button">archives</a> 
        </div>
      </div>
    </div>
  </body>
</html>
<!-- Made By karthik ravi-20/4/2018-->